<div class='row justify-content-center blog-content content-font'>
    <h2><%= @blog.title %></h2>
</div>
<div class='row content-font blog-paragraph'>
    <p class='col-lg'><%= @blog.body %></p>
</div>