<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      <style>
        .sansserif {
          font-family: Helvetica, Arial, sans-serif;
        }
        img {
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 5px;
          width: 150px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      </style>
  </head>
  <body>
    <div class="sansserif">
      <p> Hey <%= @user.name %>, </p>
      <p> Here's your weekly Hypocryte digest. </p>
      <p>
        Today, we’re sharing really useless content for you to read. Enjoy!
      </p>

      <div style="color: Gray; margin-top: 50px;">
        <div style="border-bottom-style: solid; border-color: grey; border-width: 1px; padding-bottom: 20px;">
          <h3 style="text-align: center; color: DodgerBlue"> Quote of the week </h3>
          <p style="text-align: center; color: DodgerBlue">
            <i> “ Life is what happens when you're busy making other plans.” — John Lennon </i>
          </p>
          <p style="text-align: center;">
          John Winston Ono Lennon, was an English singer and songwriter who co-founded the Beatles (1960-70), the most commercially successful band in the history of popular music.
          </p>
        </div>
        <div style="border-bottom-style: solid; border-color: grey; border-width: 1px; padding-bottom: 20px;">
          <h3 style="text-align: center; color: MediumSeaGreen"> Song of the week </h3>
          <img src="https://www.udiscovermusic.com/wp-content/uploads/2017/08/SW-Tour-Shot-Colour-Credit-Lasse-Hoile-web-optimised-1000.jpg">
          <p style="text-align: center;">
            <a href="https://open.spotify.com/track/4kZbYkUuDHyphD71bPMYL1?si=PD9VjSGuQay0UzhG-SNlMg"> Drive Home </a>
            by Steven Wilson.
          </p>
          <p style="text-align: center;">This is one of the best compositions of Steven Wilson. This song will definitely take you away from all the cacophony of the world, into a place so peaceful that you will be left craving for more.</p>
        </div>
        <div style="border-bottom-style: solid; border-color: grey; border-width: 1px; padding-bottom: 20px;">
          <h3 style="text-align: center; color: Tomato"> Tech Updates </h3>
          <img src="https://images.macrumors.com/article-new/2020/06/ios14handsonthumb_feature2.jpg">
          <p style="text-align: center;">
            <a href="https://flipboard.com/@tech/everything-you-should-know-about-ios-14-aktk47ac3e1f51da?from=share&utm_source=flipboard&utm_medium=share"> Click here </a>
            to find out everything you need to know about the new iOS14!
          </p>
        </div>
        <div style="border-bottom-style: solid; border-color: grey; border-width: 1px; padding-bottom: 20px;">
          <h3 style="text-align: center; color: SlateBlue"> Recipe to try out </h3>
          <h4 style="text-align: center;"> Chole Bhature (Indian Cuisine) </h4>
          <img src="https://i2.wp.com/www.vegrecipesofindia.com/wp-content/uploads/2013/06/chole-bhature-recipe32-1.jpg">
          <p style="text-align: center;">
            Chole Bhature also known as Chana Bhatura is one of the most popular Punjabi dish liked almost all over India.
          </p>
          <p style="text-align: center;">
            <a href="https://www.vegrecipesofindia.com/chole-bhature/"> Click here </a>
            to find out how you can make this delicious recipe at home!
          </p>
        </div>
        <div style="margin-bottom: 50px;">
          <h3 style="text-align: center; color: Orange"> A meme! </h3>
          <p style="text-align: center;">
            Here's a meme to end your newsletter with a smile!
          </p>
          <img src="https://i0.wp.com/bestlifeonline.com/wp-content/uploads/2018/06/cat-meme-61.jpg?w=1024&ssl=1", style="width: 50%;">
        </div>
      </div>
      <p>
        This is what you get when you subscribe to us.
      </p>
      <p>
        Have a great weekend!
      </p>
      <p style="margin-top: 50px;">
         - Varun & Melodie
      </p>
      <p style="text-align: center;">
        <small>
          Click
          <%= link_to 'here', unsubscribe_url(@user.token)  %>
          to unsubscribe
        </small>
      </p>
    </div>
  </body>
</html>
