<%= render 'admin_submenu' %>
<div class='row justify-content-center'>
  <div class="jumbotron jumbotron-fluid content-font" style="margin: 0px; position: absolute; top: 55%; transform: translateY(-50%);">
    <div class="container">
      <h1 class="display-4">Welcome to Admin Dashboard, <%= current_admin.name %></h1>
    </div>
  </div>
</div>
