<div class='content-font'>
    <%= form_with model: @user, local: true do |f| %>
        <div class='row blog-content justify-content-center'>
            <div class='input-group'>
              <div class="input-group-prepend">
                <span class="input-group-text">Enter your name</span>
              </div>
              <%= f.text_field :name, class: 'form-control', required: true %>
            </div>
        </div>
        <div class='row blog-content justify-content-center'>
            <div class='input-group'>
              <div class="input-group-prepend">
                <span class="input-group-text">Enter your email</span>
              </div>
            <%= f.text_field :email, class: 'form-control', required: true %>
            </div>
        </div>
        <div class='row blog-content justify-content-center'>
            <%= f.submit "Subscribe", class: 'btn btn-primary add-edit' %>
        </div>
    <% end %>
</div>
