<div class='content-font'>
    <h1 class='covid-heading text-center'>Covid Updates</h1>
    <h2 class='covid-heading text-center'> Overall current statistics </h2> 
    <div class='row countries-list justify-content-center'>
        <%= react_component(
            "CountryCovidUpdate",
            {
                countrySummaryUrl: country_summary_covid_updates_path,
                dateWiseSummaryUrl: date_wise_country_summary_covid_updates_path,
                countries: Country.all.collect { |country| { name: country.name, slug: country.slug } }
            }
        ) %> 
    </div>
</div>
