<div class="row">
  <div class="jumbotron col-md-6" style="opacity: 0.5; margin-top: 130px;">
    <h1 style="font-family: Comfortaa; margin-left: 30px;">MeloChat!!</h1>
    <p style="margin-left: 50px;">We will chat soon</p>
  </div>
  <button class='btn-danger'>Test</button>
</div>

<%= image_tag('kevin.jpg', height: '500', width: '800', align: 'center') %>
