<div class="row">
	<div class="jumbotron col-md-6" style="opacity: 0.5; margin-top: 130px;">
  	<h1 style="font-family: Comfortaa; margin-left: 30px;">MeloChat!!</h1>
    <p style="margin-left: 50px;">Coming Soon!!!!!!!!!!!</p>
	</div>
</div>
