<div class='blog-content content-font'>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= link_to artists_explores_path do %>
          <img src="https://www.ultimate-guitar.com/static/article/news/1/105401_0_wide_ver1587491992.jpg@642" id="artists" class="d-block w-100">
        <% end %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Artists</h3>
          <h5>Get info on your favourite artists and their albums.</5>
        </div>
      </div>
      <div class="carousel-item">
        <%= link_to charts_explores_path do %>
          <img src="https://images1.phoenixnewtimes.com/imager/u/745xauto/10974492/dsc_6425.jpg" id="charts" class="d-block w-100">
        <% end %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Charts</h3>
          <h5>Get the top albums and tracks that made the top of the charts.</h5>
        </div>
      </div>
      <div class="carousel-item">
        <%= link_to trending_explores_path do %>
          <img src="https://c.dvdfab.cn/upload/resource/top-rock-artists-5.jpeg" id="trending" class="d-block w-100">
        <% end %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Trending in your country</h3>
          <h5>Get the top tracks and artists trending in your country.</h5>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
