<div class='blog-content content-font'>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= link_to artists_explores_path do %>
          <img src="https://images5.alphacoders.com/312/thumb-1920-312777.jpg" id="artists" class="d-block w-100">
        <% end %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Artists</h3>
          <h5>Get info on your favourite artists and their albums.</5>
        </div>
      </div>
      <div class="carousel-item">
        <%= link_to charts_explores_path do %>
          <img src="https://cutewallpaper.org/21/odesza-wallpapers/Odesza-Wallpaper-Imgur.jpg" id="charts" class="d-block w-100">
        <% end %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Charts</h3>
          <h5>Get the top albums and tracks that made the top of the charts.</h5>
        </div>
      </div>
      <div class="carousel-item">
        <%= link_to trending_explores_path do %>
          <img src="https://images.wallpapersden.com/image/download/avril-lavigne-wallpapers-download_44272_2880x1764.jpg" id="trending" class="d-block w-100">
        <% end %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Trending in your country</h3>
          <h5>Get the top tracks and artists trending in your country.</h5>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
