@import "bootstrap";
@import "font-awesome";
@import "md_simple_editor";
@font-face {
    font-family: 'Moranke';
    src: font-url('Moranke.ttf');
 }
 @font-face {
    font-family: 'Timeless';
    src: font-url('Timeless.ttf');
 }

 .main-logo{
     font-family: 'Moranke';
     font-size: 50px;
 }

 .navbar-font{
    font-family: 'Timeless';
    font-size: 25px;
 }

 .footer-custom{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
 }

 .navbar-background{
   background-color: #EBDEF0;
 }
