@import "bootstrap";
@import "font-awesome";
@import "md_simple_editor";
@font-face {
    font-family: 'Moranke';
    src: font-url('Moranke.ttf');
 }
 @font-face {
    font-family: 'GeosansLight';
    src: font-url('GeosansLight.ttf');
 }

 .main-logo{
     font-family: 'Moranke';
     font-size: 50px;
 }

 .navbar-font{
    font-family: 'GeosansLight';
    font-size: 25px;
 }