 .content-font{
    font-family: 'GeosansLight';
 }

 .card-details{
    margin-top: 10px;
 }

 .blog-content {
    margin: 20px;
 }

 .blog-paragraph{
    font-size: larger;
    margin: 20px;
 }

 .add-edit{
    margin-bottom: 45px;
 }

 .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.edit-button {
  color: black;
}

.edit-button:hover {
  color: blue;
}

.delete-button {
  color: black;
}

.delete-button:hover {
  color: red;
}

.comments {
  color: black;
}

.comments:hover {
  color: green;
  cursor: pointer;
}

#mainbar {
  transition: margin-right .5s;
  padding: 16px;
  position: relative;
}
